/* Animation for entire section */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills-section {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  opacity: 0;
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 0.3s;
}


.skills-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
}

.skills-underline {
  width: 50px;
  height: 4px;
  background-color: #ff814b;
  border-radius: 5rem;
  margin: 10px auto 20px auto;
}

.skills-subtitle {
  font-size: 1rem;
  color: #444;
  margin-bottom: 40px;
}

/* Layout */
.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.skills-column {
  flex: 1;
  min-width: 300px;
}

.skill-bar {
  margin-bottom: 30px;
  text-align: left;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Progress bars */
.bar-bg {
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.bar-fill {
  height: 10px;
  background-color: #ff986c;
  border-radius: 8px;
  width: 0;
  transition: width 2s ease;
}
